<section class="bg-my-blue text-white text-justify">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase font-weight-light mb-0">Tech</h1>
    <hr class="white-line" />
    <p class="font-weight-light mb-4">I have been working as a software developer since 2015 and mostly use C#,
      Angular and AWS at work. I have good knowledge and experience in frontend and backend development and have
      developed various business products, such as restful Web API, responsive web apps, backend windows services for
      financial and ticketing data process, WPF windows applications and also have developed cloud-based services with
      AWS for event-driven applications. Some of them are team contributed works with pairing programming development
      and some are solo projects that are designed and developed by myself from scratch.
    </p>
  </div>
  <div class="container d-flex align-items-center flex-column">
    <table class="table table-dark table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">C#</th>
        </tr>
        <tr>
          <th scope="row" class="minor">.NET 5 / .NET Core, .NET Framework</th>
        </tr>
        <tr>
          <th scope="row" class="minor">MVC, Entity Framwwork, Code first and database first, Restful Web API and design
            patterns</th>
        </tr>
        <tr>
          <th scope="row" class="minor">Moq, NUnit, Unit Test, Integration Test</th>
        </tr>
        <tr>
          <th scope="row">Angular 11 / Angular 2+</th>
        </tr>
        <tr>
          <th scope="row" class="minor">Angular Material, Angular Flex-layout, PrimeNg, Unit testing with Jasmine and
            Karma</th>
        </tr>
        <tr>
          <th scope="row" class="minor">HTML5, CSS3, Javascript, Typescript, Bootstrap 4</th>
        </tr>
        <tr>
          <th scope="row">Node.js</th>
        </tr>
        <tr>
          <th scope="row">NativeScript 6.5+</th>
        </tr>
        <tr>
          <th scope="row">Amazon Web Services (AWS)</th>
        </tr>
        <tr>
          <th scope="row" class="minor">EC2, S3, API Gateway, Lambda, State machine, Cloud Formation, Step Functions etc
          </th>
        </tr>
        <tr>
          <th scope="row">PostgreSQL, MSSQL, database design and normalisation</th>
        </tr>
        <tr>
          <th scope="row">Teamcity, Octopus, Git, IIS</th>
        </tr>
        <tr>
          <th scope="row">Agile Development, JIRA, Scrum, Azure DevOps Server / Microsoft Visual Studio Team Services
            (VSTS) </th>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bg-my-blue text-white text-justify">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase font-weight-light mb-0">Projects</h1>
    <hr class="white-line" />
    <p class="font-weight-light mb-4">Like many software developers, I always want to achieve something. The idea of
      having
      a product that is truly my contribution and can be proudly shared with family and friends fascinates me. Quite
      often I face a
      common problem when starting to plan for a new project: I am excited to try out on new tech new library or simply
      a new update, but I am not always exactly sure what to do with it. So I have written a couple of demo projects
      with the likes of C# .NET Core 3.1, Angular and NativeScript etc in the past, but they are all demo only or
      sometimes abandoned collaborations with others and I didn't actually publish them.</p>

    <p class="font-weight-light mb-4">For obvious reasons I am not able to share the business projects that I developed
      for my day job. So below there is a few examples of my own side projects that hopefully can demonstrate some of
      my technical skills and ideas. For a full list of all the side projects that I have done, please visit my Github
      page (see the icon on the top right corner).</p>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <a href="https://github.com/timc986/Big-Stopwatch-Ng" target="_blank" rel="noopener"
            aria-label="Big-Stopwatch-Ng">
            <img class="card-img-top image-button" src="assets/bigstopwatch_dark.png" alt="">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/timc986/Big-Stopwatch-Ng" target="_blank" rel="noopener"
                aria-label="Big-Stopwatch-Ng">
                Big Stopwatch Ng
              </a>
            </h5>
            <p class="card-text font-weight-light">A responsive static website with clean UI and dark theme that only
              has one purpose, as
              its name suggests, a Big
              Stopwatch.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <a href="https://github.com/timc986/ng-flexlayout-demo" target="_blank" rel="noopener"
            aria-label="ng-flexlayout-demo">
            <img class="card-img-top image-button" src="assets/ngflex.jpg" alt="">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/timc986/ng-flexlayout-demo" target="_blank" rel="noopener"
                aria-label="ng-flexlayout-demo">
                Ng Flex-Layout Demo
              </a>
            </h5>
            <p class="card-text font-weight-light">An Angular demo project for Angular Flex Layout with responsive UI
              design and Angular
              Material.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <a href="https://github.com/timc986/TnsNg-Flashlight" target="_blank" rel="noopener"
            aria-label="TnsNg-Flashlight">
            <img class="card-img-top image-button" src="assets/flashlight_wide.jpg" alt="">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/timc986/TnsNg-Flashlight" target="_blank" rel="noopener"
                aria-label="TnsNg-Flashlight">
                TnsNg-Flashlight
              </a>
            </h5>
            <p class="card-text font-weight-light">My first cross-platform native mobile app project built with
              NativeScript and Angular,
              a
              flashlight app.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <a href="https://github.com/timc986/TwtScrap" target="_blank" rel="noopener" aria-label="TwtScrap">
            <img class="card-img-top image-button" src="assets/screenshot_project.PNG" alt="">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/timc986/TwtScrap" target="_blank" rel="noopener" aria-label="TwtScrap">
                TwtScrap
              </a>
            </h5>
            <p class="card-text font-weight-light">A console app that scrapes tweets from Twitter. Built to get London
              Underground status
              for data analysis practice.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
