html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.navbar {
  padding-right: 0;
}

.svg-icon-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.svg-icon-button:active {
  opacity: 0.6;
}

.image-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.image-button:active {
  opacity: 0.8;
}

h1 {
  line-height: 2.75rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 3rem;

  p {
    font-size: 1.25rem;
  }
}

.bg-my-blue {
  background: linear-gradient(90deg, #0d3e7d 0, #0d687d 100%);
}

.bg-my-darkblue {
  background-color: #1c2935;
}

.bg-my-grey {
  background: linear-gradient(90deg, #cecececc 0, #f1f1f1cc 100%);
}

hr {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  border-color: #cecececc;
  width: 100%;
  // max-width: 40rem;
}

.white-line {
  border-color: #cecececc;
}

.table-dark {
  background-color: #142d46;

  .thead-dark th {
    background-color: #0a1b2b;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 23px;
    padding-right: 23px;
  }

  .profilepic {
    width: 8rem !important;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.2 !important;
  }

  header,
  section {
    p {
      font-size: 1.125rem !important;
    }
  }
}
