header {
  padding-top: 2rem;
  padding-bottom: 3rem;

  .profilepic {
    width: 10rem;
  }

  p {
    font-size: 1.25rem;
  }
}

section {
  padding-top: 2rem;
  padding-bottom: 3rem;

  p {
    font-size: 1.25rem;
  }
}

.card {
  color: black;
}

.table {
  color: white;

  .minor {
    font-weight: 100;
  }
}
