<header class="bg-my-grey text-center">
  <div class="container d-flex align-items-center flex-column">
    <img class="profilepic mb-5" src="assets/profilepic.png" alt="" />
    <h1 class="text-uppercase mb-0">Timothy Chan</h1>
    <p class="font-weight-light mb-0 mt-3">Software Developer - Occasionally Plays Music</p>
  </div>
</header>

<section class="text-justify">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase mb-0">About me</h1>
    <hr/>
    <p class="font-weight-light mb-0">I am a full stacked software developer from Hong Kong and based in London,
      UK. I
      enjoy writing codes and building side projets in my own time among other hobbies. It means a lot to me that I get
      to enjoy what we are doing at work, be passionate about learning new skills and improving ourselves, but most
      importantly be excited and proud of our products. This is how we can get off our bed every morning and start our
      day with energy and dedication. That is probably why I decided to work in the broadcast media industry and later
      the
      entertainment industry. Yes there are challenges and difficult times just like many other things in life, but on
      the weekends lying on my favourite yoga mat, I do feel satisfied and grateful as I know I have learnt a few things
      and have spent my time to work on something meaningful. Later at night there is no better sleep than that.</p>

    <p class="font-weight-light mt-3">On a few occasions I was forunate enough to have the opportunities to
      travel to
      Singapore and Spain for work. Not only have I picked up Angular 2 and learnt a lot more about the business
      operation on the other side of the company, I have also made a few great friends in the trip and have some amazing
      experiences with different cultures, which I guess I really can't ask for more and makes my role as a software
      developer a lot more meaningful than just another day job. </p>

    <p class="font-weight-light mt-5 mb-0">In my spare time apart from coding, I like to play music, mostly on piano and
      drums. Sometimes after work I record a few cover songs with friends and share on our Youtube channel, usually are
      songs that we love and we always try to have our own interpretation on the original music,
      to play it in our own way that we think it should be. This is probably one of my most precious hobbies that not
      only I enjoy a lot, but also a space that I get to express myself in a way that normally cannot. It enhances our
      friendships and improves ourselves. Music is easily the best thing happens in my life, it gives so much and I
      always feel grateful and blessed.
    </p>

    <p class="font-weight-light mt-3">After a long day of hard work, I sometimes sit down in front of my electric piano
      keyboard that lies next to a white and empty wall, and start playing anything that comes to mind. You can feel
      that one side of your mind is starting to get relaxed and the other side is activating. It is a wonderful and
      magical experience that fascinates me, almost like a yoga for your mind which brings a bit of peacefulness.
      I also believe that it brings a good balance to my life, the realisation of playing music and writing codes can
      actually complement each other quite
      well. </p>
  </div>
</section>

<section class="bg-my-blue text-white text-justify">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase mb-0">Tech</h1>
    <hr class="white-line"/>
    <p class="font-weight-light mb-4">I have been working as a software developer since 2015 and mostly use C#,
      Angular and AWS at work. I have good knowledge and experience in frontend and backend development and have
      developed various business products, such as restful Web API, responsive web apps, backend windows services for
      financial and ticketing data process, WPF windows applications and also have developed cloud-based services with
      AWS for event-driven applications. Some of them are team contributed works with pairing programming development
      and some are solo projects that are designed and developed by myself from scratch.
    </p>
  </div>
  <div class="container d-flex align-items-center flex-column">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">C#</th>
        </tr>
        <tr>
          <th scope="row" class="minor">.NET 5 / .NET Core, .NET Framework</th>
        </tr>
        <tr>
          <th scope="row" class="minor">MVC, Entity Framwwork, Code first and database first, Restful Web API and design
            patterns</th>
        </tr>
        <tr>
          <th scope="row" class="minor">Moq, NUnit, Unit Test, Integration Test</th>
        </tr>
        <tr>
          <th scope="row">Angular 11 / Angular 2+</th>
        </tr>
        <tr>
          <th scope="row" class="minor">Angular Material, Angular Flex-layout, PrimeNg, Unit testing with Jasmine and
            Karma</th>
        </tr>
        <tr>
          <th scope="row" class="minor">HTML5, CSS3, Javascript, Typescript, Bootstrap 4</th>
        </tr>
        <tr>
          <th scope="row">Node.js</th>
        </tr>
        <tr>
          <th scope="row">NativeScript 6.5+</th>
        </tr>
        <tr>
          <th scope="row">Amazon Web Services (AWS)</th>
        </tr>
        <tr>
          <th scope="row" class="minor">EC2, S3, API Gateway, Lambda, State machine, Cloud Formation, Step Functions etc
          </th>
        </tr>
        <tr>
          <th scope="row">PostgreSQL, MSSQL, database design and normalisation</th>
        </tr>
        <tr>
          <th scope="row">Teamcity, Octopus, Git, IIS</th>
        </tr>
        <tr>
          <th scope="row">Agile Development, JIRA, Scrum, Azure DevOps Server / Microsoft Visual Studio Team Services
            (VSTS) </th>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bg-my-blue text-white text-justify">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase mb-0">Projects</h1>
    <hr class="white-line"/>
    <p class="font-weight-light mb-4">Like many software developers, I always want to achieve something. The idea of
      having
      a product that is truly my contribution and can be proudly shared with family and friends fascinates me. Quite
      often I face a
      common problem when starting to plan for a new project: I am excited to try out on new tech new library or simply
      a new update, but I am not always exactly sure what to do with it. So I have written a couple of demo projects
      with the likes of C# .NET Core 3.1, Angular and NativeScript etc in the past, but they are all demo only or
      sometimes failed collaborations with others and I didn't actually publish them.</p>

    <p class="font-weight-light mb-4">For obvious reasons I am not able to share the business projects that I developed
      for my day job. So below there is a few examples of my own side projects that hopefully can demonstrate some of
      my technical skills and ideas. For a full list of all the side projects that I have done, please visit my Github
      page. (see the icon on the top right corner)</p>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/bigstopwatch_dark.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Big Stopwatch Ng</h5>
            <p class="card-text">A responsive static website with clean UI and dark theme that only has one purpose, as
              its name suggests, a Big
              Stopwatch.</p>
            <a href="https://github.com/timc986/Big-Stopwatch-Ng" target="_blank" rel="noopener"
              class="btn btn-primary">Go to project</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/ngflex.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ng Flex-Layout Demo</h5>
            <p class="card-text">An Angular demo project for Angular Flex Layout with responsive UI design and Angular
              Material.
            </p>
            <a href="https://github.com/timc986/ng-flexlayout-demo" target="_blank" rel="noopener"
              class="btn btn-primary">Go to project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/flashlight_wide.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">TnsNg-Flashlight</h5>
            <p class="card-text">My first cross-platform native mobile app project built with NativeScript and Angular,
              a
              flashlight app.</p>
            <a href="https://github.com/timc986/TnsNg-Flashlight" target="_blank" rel="noopener"
              class="btn btn-primary">Go to project</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/screenshot_project.PNG" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">TwtScrap</h5>
            <p class="card-text">A console app that scrapes tweets from Twitter. Built to get London Underground status
              for data analysis practice.</p>
            <a href="https://github.com/timc986/TwtScrap" target="_blank" rel="noopener" class="btn btn-primary">Go to
              project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-justify">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase mb-0">Music</h1>
    <hr/>
    <p class="font-weight-light mb-4"> After playing in different youth orchestras for a long time since I was kid, I
      decided to try something a bit different while I was in university. Perhaps it is because I grew up with classical
      orchestral music, I am always secretly into instrumental music even though most of my friends don't share the same
      interest. So in 2014 I formed a small Youtube channel with a few friends from university, mostly focusing on
      covering songs and rearrange them to instrumental music. </p>

    <p class="font-weight-light mb-4">At first we were probably just trying to find a reason to get together and jam,
      but later
      on I realised if we want to do
      something then we should do it right. We then took more time to prepare and practice for the recording session. To
      be
      honest my dream is always to get a chance to perform live. The thought of trying to be barely recognisable on the
      internet is never our
      goal and like a kid I
      just want to play music. The Youtube channel is a platform to share music with more people, and secretly
      hoping one day someone will watch it and invite us to perform live or something and that will be the best
      day ever. Of
      course that
      never happened and that's okay. We have learnt a lot in our recording session especially those things that we
      could never experienced in a 60 people orchestra. I love every single moment of it and it is easily one of the
      best thing I have done during my time in uni, given that my degree is actually aobut something totally unrelated.
      Sometimes when you are having a bad day, dragged your tired body back home and saw a new supportive comment or
      message from
      the Youtube channel. It could be a really simple and short compliment but that once again reminds me of my little
      dream and
      keeps me going. Those are the best kinds.</p>

    <p class="font-weight-light mb-4">The channel is bascially my friends and I covering some of our favourite songs
      in our own way. There is a bit
      of everything in it and here are some of the highlights. Hope you will like it and enjoy.</p>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=KBnk7w9Yowo" target="_blank" rel="noopener" aria-label="Youtube">
          <img class="img-fluid mx-auto d-block image-button" src="assets/koko.jpg" alt="" />
        </a>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=yLTdpthMWLE" target="_blank" rel="noopener" aria-label="Youtube">
          <img class="img-fluid mx-auto d-block image-button" src="assets/dt.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=iHR1hmwXbQk" target="_blank" rel="noopener" aria-label="Youtube">
          <img class="img-fluid mx-auto d-block image-button" src="assets/eason.jpg" alt="" />
        </a>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=gihm9e4zpU4" target="_blank" rel="noopener" aria-label="Youtube">
          <img class="img-fluid mx-auto d-block image-button" src="assets/viva.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
