header {
  padding-top: 2rem;
  padding-bottom: 3rem;

  .profilepic {
    width: 10rem;
  }

  h1 {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  p {
    font-size: 1.25rem;
  }
}

section {
  padding-top: 2rem;
  padding-bottom: 3rem;

  h1 {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.card{
  color: black;
}

.table{
  color: white;
}