<header class="text-center">
  <div class="container d-flex align-items-center flex-column">
    <img class="avatar mb-5" src="assets/avataaars.svg" alt="" />
    <h1 class="text-uppercase mb-0">Timothy Chan</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <p class="font-weight-light mb-0">Software Developer - Web Designer - Illustrator</p>
  </div>
</header>

<section class="bg-main text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase mb-0">Timothy Chan</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <p class="font-weight-light mb-0">Software Developer - Web Designer - Illustrator</p>
  </div>
</section>
