<section class="text-justify">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-uppercase font-weight-light mb-0">Music</h1>
    <hr />
    <p class="font-weight-light mb-4"> After playing in different youth orchestras for a long time since I was kid, I
      decided to try something a bit different while I was in university. Perhaps it is because I grew up with classical
      orchestral music, I am always secretly into instrumental music even though most of my friends don't share the same
      interest. So in 2014 I formed a small Youtube channel with a few friends from university, mostly focusing on
      covering songs and rearrange them to instrumental music. </p>

    <p class="font-weight-light mb-4">At first we were probably just trying to find a reason to get together and jam,
      but later
      on I realised if we want to do
      something then we should do it right. We then took more time to prepare and practice for the recording session. To
      be
      honest my dream is always to get a chance to perform live. The thought of trying to be barely recognisable on the
      internet is never our
      goal and like a kid I
      just want to play music. The Youtube channel is a platform to share music with more people, and secretly
      hoping one day someone will watch it and invite us to perform live or something and that will be the best
      day ever. Of
      course that
      never happened and that's okay. We have learnt a lot in our recording session especially those things that we
      could never experienced in a 60 people orchestra. I love every single moment of it and it is easily one of the
      best thing I have done during my time in uni, given that my degree is actually aobut something totally unrelated.
      Sometimes when you are having a bad day, dragged your tired body back home and saw a new supportive comment or
      message from
      the Youtube channel. It could be a really simple and short compliment but that once again reminds me of my little
      dream and
      keeps me going. Those are the best kinds.</p>

    <p class="font-weight-light mb-4">The channel is bascially my friends and I covering some of our favourite songs
      in our own way. There is a bit
      of everything in it and here are some of the highlights, including 坂本龍一 Ryuichi Sakamoto - Koko (Marimba/Piano
      Cover), Dream Theater - Far From Heaven (Piano/Cello instrumental Cover), 陳奕迅 Eason Chan -《陀飛輪》cover (Piano/Cello
      Cover), Viva La Vida - Coldplay, Guitar (Finger Style) & Bongo cajon cover. Hope you will like it and enjoy.</p>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=KBnk7w9Yowo" target="_blank" rel="noopener"
          aria-label="坂本龍一 Ryuichi Sakamoto - Koko (Marimba/Piano Cover)">
          <img class="img-fluid mx-auto d-block image-button youtube-image" src="assets/koko.jpg" alt="" />
        </a>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=yLTdpthMWLE" target="_blank" rel="noopener"
          aria-label="Dream Theater - Far From Heaven (Piano/Cello instrumental Cover)">
          <img class="img-fluid mx-auto d-block image-button youtube-image" src="assets/dt.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=iHR1hmwXbQk" target="_blank" rel="noopener"
          aria-label="陳奕迅 -《陀飛輪》cover 大提琴 鋼琴 純音樂 (Piano/Cello Cover)">
          <img class="img-fluid mx-auto d-block image-button youtube-image" src="assets/eason.jpg" alt="" />
        </a>
      </div>
      <div class="col-md-6 col-12 mb-4">
        <a href="https://www.youtube.com/watch?v=gihm9e4zpU4" target="_blank" rel="noopener"
          aria-label="Viva La Vida - Coldplay, Guitar (Finger Style) & Bongo cajon cover">
          <img class="img-fluid mx-auto d-block image-button youtube-image" src="assets/viva.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
